<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>thrifus</string>
	<key>icon</key>
	<string>Icon</string>
	<key>name</key>
	<string>Materio</string>
	<key>scrollWithConvergance</key>
	<true/>
	<key>showsClock</key>
	<true/>
</dict>
</plist>
